{% extends "base.html" %}

{% block content %}
<main id="main" class="main">
    <div class="pagetitle">
      <h1>Stuffing Management</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Stuffing</li>
          <li class="breadcrumb-item active">Weighment Infos</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">General Stuffing Information</h5>

              <!-- General Form Elements -->
              <form method="POST" enctype="multipart/form-data">
                <div class="row mb-3">
                    <label for="departure_timestamp" class="col-sm-2 col-form-label">Departure Date and Time (YYYY-MM-DD HH:MM:SS) :</label>
                    <div class="col-sm-10">
                        <input type="datetime-local" class="fc" id="departure_timestamp" name="departure_timestamp" value="{{ current_datetime }}" readonly>
                    </div>
                </div>
            
                <div class="row mb-3">
                    <label for="weighment_slip_number" class="col-sm-2 col-form-label">Weighment Slip Number :</label>
                    <div class="col-sm-10">
                        <input type="text" class="fc" id="weighment_slip_number" name="weighment_slip_number" required>
                    </div>
                </div>
            
                <div class="row mb-3">
                    <label for="gross_weight" class="col-sm-2 col-form-label">Gross Weight :</label>
                    <div class="col-sm-10">
                        <input type="number" class="fc" id="gross_weight" name="gross_weight" required>
                    </div>
                </div>
            
                <div class="row mb-3">
                    <label for="tare" class="col-sm-2 col-form-label">Tare :</label>
                    <div class="col-sm-10">
                        <input type="number" class="fc" id="tare" name="tare" required>
                    </div>
                </div>
            
                <div class="row mb-3">
                    <label for "net_weight" class="col-sm-2 col-form-label">Net Weight :</label>
                    <div class="col-sm-10">
                        <input type="number" class="fc" id="net_weight" name="net_weight" required>
                    </div>
                </div>
            
                <div class="row mb-3">
                    <label for="wb_image" class="col-sm-2 col-form-label">Weighment Slip Image :</label>
                    <div class="col-sm-10">
                        <input type="file" class="fc" id="wb_image" name="wb_image">
                    </div>
                </div>
            
                <div class="row mb-3">
                    <div class="col-sm-10 offset-sm-2">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </form>
   
            <!-- End General Form Elements -->
            </div>
          </div>

        </div>

        <div class="col-lg-6">

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  {% endblock %}

