{% extends "base.html" %}

{% block content %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Stuffing</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">


            <!-- Stuffing Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card Stuffing-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Stuffing <span>| Today</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-box-seam"></i>                     </div>
                    <div class="ps-3">
                      <h6>145 Mt</h6>
                      <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Stuffing Card -->

            <!-- Stocks Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card Stocks-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Stocks <span>| This Month</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-bag"></i>                     </div>
                    <div class="ps-3">
                      <h6>3,264 Mt</h6>
                      <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Stocks Card -->

            <!-- Production Card -->
            <div class="col-xxl-4 col-xl-12">

              <div class="card info-card Production-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Production <span>| This Year</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-gear"></i>                    </div>
                    <div class="ps-3">
                      <h6>1244 Mt</h6>
                      <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>

                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End Production Card -->


            <!-- Recent Stuffing -->
            <div class="col-12">
              <div class="card recent-Stuffing overflow-auto">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Recent Stuffing <span>| Today</span></h5>

                  <table class="table table-borderless datatable"  style="width: 100%; border-collapse: collapse;">
                    <thead>
                      <tr>
                        <th style="background-color: #f2f2f2; font-weight: bold; border: 1px solid #000;">Stuffing Number</th>
                        <th style="background-color: #f2f2f2; font-weight: bold; border: 1px solid #000;">Arrival Timestamp</th>
                        <th style="background-color: #f2f2f2; font-weight: bold; border: 1px solid #000;">Booking Number</th>
                        <th style="background-color: #f2f2f2; font-weight: bold; border: 1px solid #000;">Container</th>
                        <th style="background-color: #f2f2f2; font-weight: bold; border: 1px solid #000;">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for stuffing in stuffings %}
             
                      <tr style="border: 1px solid #000;">
                        <th scope="row"><a href="#">{{ stuffing.stuffing_number }}</a></th>
                        <td style="border: 1px solid #000;">{{ stuffing.arrival_timestamp.strftime('%d %b %Y %H:%M') }}</td>
                        <td style="border: 1px solid #000;"><a href="#" class="text-primary">{{ stuffing.booking_number }}</a></td>
                        <td style="border: 1px solid #000;">{{ stuffing.container }}</td>
                        <td style="border: 1px solid #000;"> <span>
                          <a href="/edit_stuffing/{{ stuffing.id }}" class="btn btn-primary btn-sm">
                              <i class="bi bi-pencil"></i> 
                          </a>
                          <a href="/stuffing/{{ stuffing.id }}" class="btn btn-info btn-sm">
                              <i class="bi bi-zoom-in"></i> 
                          </a>
                          <a href="/delete_stuffing/{{ stuffing.id }}" class="btn btn-danger btn-sm">
                              <i class="bi bi-trash"></i> 
                          </a>
                          <a href="/generer-pdf/{{ stuffing.id }}" class="btn btn-success btn-sm">
                              <i class="bi bi-file-pdf"></i>
                          </a>  </span>
                      </td>
                  </tr>
              {% endfor %}
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Recent Stuffing -->

  
            
            
            
            <a href="/stuffing/add" class="btn btn-primary">Create Stuffing</a>
            
      </div>
    </section>

  </main><!-- End #main -->

{% endblock %}
