{% extends "base.html" %}

{% block content %}



<main id="main" class="main">

  <section class="section">  
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Warehouse Management</h5>

        <!-- Default Tabs -->
        <ul class="nav nav-tabs d-flex" id="myTabjustified" role="tablist">
          <li class="nav-item flex-fill" role="presentation">
            <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-justified" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
          </li>
          <li class="nav-item flex-fill" role="presentation">
            <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-justified" type="button" role="tab" aria-controls="profile" aria-selected="false">Transaction</button>
          </li>
          <li class="nav-item flex-fill" role="presentation">
            <button class="nav-link w-100" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-justified" type="button" role="tab" aria-controls="contact" aria-selected="false">Complete View</button>
          </li>
        </ul>
        <div class="tab-content pt-2" id="myTabjustifiedContent">
          <div class="tab-pane fade show active" id="home-justified" role="tabpanel" aria-labelledby="home-tab">
              Evereything is possible for people who believe in his self and like doing good job even if people around him doesn't yet know anything about his competence.
          </div>
          <div class="tab-pane fade" id="profile-justified" role="tabpanel" aria-labelledby="profile-tab">
Fight for what you believe in silence without disturbing anyone.          </div>
          <div class="tab-pane fade" id="contact-justified" role="tabpanel" aria-labelledby="contact-tab">
Nothing good can happen to you if you don't work for that 
          </div>
        </div><!-- End Default Tabs -->

      </div>
    </div>    
      <div class="row">
        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">

  
  
              <!-- Primary Color Bordered Table -->
              <table class="table table-bordered border-primary">
                <thead>
                  <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Parameters</th>
                    <th scope="col">Value</th>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Transaction N°</td>
                    <td>{{ transaction.transaction_number }}</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Weighment Slip N°</td>
                    <td>{{ transaction.weighment_slip_number }}</td>
                  </tr>
                  <tr>
                  <th scope="row">3</th>
                  <td>Net Weight</td>
                  <td>{{ transaction.net_weight }}</td>
                </tr>
                <tr>
                <th scope="row">4</th>
                <td>Moisture</td>
                <td>{{ transaction.moisture_humidity }}</td>
              </tr>
              <tr>
              <th scope="row">5</th>
              <td>Damaged</td>
              <td>{{ transaction.damaged_green_seed }}</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>OFM</td>
              <td>{{ transaction.other_foreign_matter }} </td>
            </tr>
                </tbody>
              </table>
              <!-- End Primary Color Bordered Table -->
  
            </div>
          </div>



        </div>

        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">With indicators</h5>

              <!-- Slides with indicators -->
              <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">

                  <div class="carousel-item active">
                    <img src="{{ url_for('static', filename='images/transaction/weighment/' ~ transaction.transaction_number ~ '_wbnumber.jpg') }}" style="width: 300px; height: 350px; margin: 10px;" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{{ url_for('static', filename='images/transaction/boquality/' ~ transaction.transaction_number ~ '_boquality.jpg') }}" style="width: 300px; height: 350px; margin: 10px;" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{{ url_for('static', filename='images/transaction/balquality/' ~ transaction.transaction_number ~ '_balquality.jpg') }}" style="width: 300px; height: 350px; margin: 10px;" class="d-block w-100" alt="...">
                  </div>
                  

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>

              </div><!-- End Slides with indicators -->

            </div>
          </div>
        </div>


        <!-- Special title treatmen -->
        <div class="card text-center">
          <div class="card-header">
            <ul class="nav nav-pills card-header-pills">
              <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('add_unloading_slip', id=transaction.id) }}" >Add Unloading Slip</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('add_quality_slip', id=transaction.id) }}">Add Quality Slip BO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('add_quality_slip_bal', id=transaction.id) }}">Add Quality Slip BC</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">You can move at anytime if you want to progress </p>
            <a href="{{ url_for('index') }}" class="btn btn-primary">Go Back</a>
          </div>
        </div><!-- End Special title treatmen -->

      </div>

    </div>
  </section>

</main><!-- End #main -->



{% endblock %}
