{% extends "base.html" %}

{% block content %}




  <main id="main" class="main">

    <div class="pagetitle">
      <h1>HexaNE</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">UTILITY</a></li>
          <li class="breadcrumb-item active">hEXANE AND DIESEL </li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">
 
          </div>
HEXANE STOCKS , CONSUME, DIESEL CONSUME , IN STOCKS , CONSUMMATION OF HEXANE AND DIESEL BY PLANT FOR KNOWING HOW TO MAKE PREDICTION FOR MAKING ORDER IN TIME.
ANALYSE ALL UTILITY FACTOR FOR ENTREPRISE VISION OF OPERATIONNELLE eXCELLENCE        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

 
        </div><!-- End Right side columns -->

      </div>
    </section>

  </main><!-- End #main -->
  {% endblock %}

